.header
  .header__inner
    .header__inner__upper
      .header__inner__upper__title
      .header__inner__upper__nav
        .header__inner__upper__nav__left
        .header__inner__upper__nav__right
    .header__inner__lower
      .header__inner__lower__search-form

.main
  .main__img
    .main__img__msg
  .main__feature
  .main__shop-list
  .app-banner

.footer
  .footer__inner
  .footer__logo
