.header
  .header
    .header__upper
      .header__upper__title
        = link_to Cafelog 
      .header__upper__nav
        .header__upper__nav__left
          = link_to "カテゴリ"
        .header__upper__nav__right
          %ul
            %li
              = link_to "ログイン"
            %li 
              = link_to "新規登録"
    .header__lower
      %form.search-form(action="/")
        %input#sbox(type="text")/
        %input#sbtn(type="submit")/
          
.main
  .main__img
    .main__img__msg
  .main__feature
  .main__shop-list
  .app-banner

.footer
  .footer__inner
  .footer__logo
