.form {
  font-family: arial unicode ms;
  &__container {
    height: auto;
    width: 700px;
    background-color: rgba(0,0,0,0.4);
    border: 0 solid rgba(0,0,0,0.4);
    border-radius: 10px;
    box-shadow: 0 1px 4px;
    background: #fff;
    margin: 100px auto;
    padding: 40px 100px;
    &__title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    .input {
      width: 100%;
      margin: 30px auto;
      line-height: 45px;
      display: flex ;
      justify-content: space-between;
      &__title {
      }
      &__form {
        width: 300px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 1px;
      }
    }
    .image-upload {
      height: auto;
      width: 500px;
      #image-box-1 {
        width: 100%;
        padding-top: 20px;
        .shop-image {
          width: 95px;
          height: 150px;
          margin-right: 5px;
          float: left;
          border: 1px dashed lightgray;
          background: #f5f5f5;
          &__operetion {
            text-align: center;
            line-height: 50px;
            &--delete {
              cursor: pointer;
              color: #0095ee;
            }
          }
        }
        #image-box__container {
          float: left; 
          .input-area {
            height: 150px;
            .upload-label {
              height: 100%;
              width: 100%;
              min-width: 115px;
              border: 1px dashed lightgray;
              background: #f5f5f5;
              display: inline-block;
              cursor: pointer;
              text-align: center;
              line-height: 150px;
            }
            
          }
        }
        .shop-num-0{
          width: 100%;
        }
        .shop-num-1{
          width: 399px;
        }
        .shop-num-2{
          width: 298px;
        }
        .shop-num-3{
          width: 197px;
        }
        .shop-num-4{
          width: 96px;
        }
        //下段のfile_field
        .shop-num-5{
          width: 100%;
        }
        .shop-num-6{
          width: 400px;
        }
        .shop-num-7{
          width: 300px;
        }
        .shop-num-8{
          width: 200px;
        }
        .shop-num-9{
          width: 100px;
        }
      }
    }
    .submit {
      text-align: center;
      margin: 30px auto;
      .submit-btn {
        height: 40px;
        width: 300px;
        color: rgba(12, 18, 28, 0.6);
        border-radius: 25px;
        cursor: pointer;
        border: 1px solid lightgray;
        background-color: rgb(239, 239, 239);
        transition: all .15s ease;
      }
      .submit-btn:hover {
        background: lightgray;
      }
      .upload-shop:hover {
        background: #FF9900;;
      }
    }
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
