.header {
  height: 90px;
  width: 100%;
  &__upper {
    height: 90px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__title {
      font-size: 50px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: rgba(12, 18, 28, 0.6);
        text-decoration: none;
      }
    }
    &__nav {
      width: 100%;
      padding: 0 20px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      color:rgba(12, 18, 28, 0.6);
      text-decoration: none;
      &__right li{
        font-weight: 700;
        float: left;;
        margin-left: 20px;
      }
      .btn {
        text-decoration: none;
        color: rgba(12, 18, 28, 0.6);
        border-radius: 25px;
        cursor: pointer;
        border: 1px solid rgba(12, 18, 28, 0.6);
        padding: 10px;
        background-color: rgb(239, 239, 239);
        transition: all .15s ease;
      }
      &__right .btn:hover {
        background: #FF9900;
      }
    }
  }
}