* {
  box-sizing: border-box;
}
body {
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
}
// searchフォーム
.search {
  height: 60px;
  width: 100%;
  background-color: #fff;
  &__container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    display: block;
    padding: 3px 10px;
    margin: 0 auto;
    border-radius: 20px;
    height: 40px;
    width: 90%;
    overflow: hidden;
  }
  &__container input[type="text"]{
    border: none;
    height: 30px;
  }
  &__container input[type="text"]:focus {
    outline: 0;
  }
  &__container button[type="submit"]{
    cursor: pointer;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 50px;
    height: 45px;
    right:0px;
    top: -3px;
    outline : none;
  }
}

.main {
  width: 100%;
  &__img {
    background-image: url("/assets/images/2526814093.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 560px;
    padding: 0 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    &__msg {
      color: white;
      text-shadow: 0 0 10px rgba(0,0,0,0.4);
      font-family: arial unicode ms;
      &__ttl {
        font-size: 60px;
      }
      &__txt {
        font-size: 20px;
      }
    }
  }
  &__feature {
    height: 300px;
    width: 100%;
    background-color: cadetblue;
  }
  &__shop-list {
    height: auto;
    width: 100%;
    padding: 20px 0;
    .shop-container {
      width: 800px;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.4);
      border: 0 solid rgba(0,0,0,0.4);
      border-radius: 10px;
      box-shadow: 0 1px 4px;
      background: #fff;
      padding: 10px 0;
      &__title {
        color: gray;
        font-family: arial unicode ms;
        text-shadow: 0 0 10px rgba(0,0,0,0.4);
        font-size: 30px;
        text-align: center;
      }
      &__lists {
        margin-top: 10px;
        .shop {
          width: 750px;
          height: 260px;
          margin: 0 auto;
          padding: 20px;
          border-top: 1px solid lightgray;
          display: flex;
          &__image {
            &__main {
              height: 160px;
              width: 160px;
              border: 1px solid lightgray;
            }
            &__sub {
              height: 50px;
              width: 160px;
              display: flex;
              justify-content: left;
              margin-top: 5px;
              &__small {
                display:block;
                height: 50px;
                width: 50px;
                border: 1px solid lightgray;
                margin-right: 5px;
              }
            }
          }
          &__info {
            margin: 0 20px 0 20px;
            width: 100%;
            &__ttl {
              border-bottom: 1px solid lightgray;
              height: 80px;
              position: relative;
              &__inner {
                position: absolute;
                top: calc(50%-40px);
                .name {
                  font-size: 25px;
                  font-weight: bold;
                }
                .address {
                  font-size: 15px;
                }
              }
            }
            &__tags {
              height: 45px;
              .tags li {
                display: inline-block;
                margin: 10px;
              }
            }
            &__comments {
              height: 90px;
              padding: 10px;
              background-color: #faf8f5;
              .comment {
                &__user {
                  font-size: 15px;
                }
                &__text {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.app-banner {
  height: 400px;
  width: 100%;
  background-image: url("/assets/images/ac96e11703b8fc1bd466f91bb87b3f6ed1524b09.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &__inner {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    &__txt {
      color: white;
      font-size: 50px;
      text-shadow: 0 0 10px rgba(0,0,0,0.4);
    }
    &__btn{
      text-align: center;
      .btn{
        font-size: 1.6rem;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0,0,0,0.4);
        line-height: 1.5;
        position: relative;
        display: inline-block;
        padding: 1rem 4rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: #212529;
        border-radius: 0.5rem;
        border-radius: 100vh;
        color: #fff;
        background-color: #FF9900;
        font-weight: bold;
      }
      .btn:hover {
        background-color: #f56500;
      }
    }
  }
}

// shops/showページ

.shop {
  width: 920px;
  margin: 20px auto;
  &__container {
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.4);
    border: 0 solid rgba(0,0,0,0.4);
    border-radius: 10px;
    box-shadow: 0 1px 4px;
    background: #fff;
    margin: 0 0 15px 0;
    padding: 10px;
    .main {
      display: flex;
      justify-content: space-between;
      display: flex;
      justify-content: center;
      align-items: center;
      &__image {
        height: 250px;
        width: 250px;
        background-color: orangered;
      }
      &__contents {
        width: 650px;
        &__name {
          height: 100px;
          border-bottom: 1px solid lightgrey;
          font-family: arial unicode ms;
          margin-left: 10px;
          padding: 0 20px 0 20px;
          font-size: 40px;
          font-weight: bold;
          color: rgba(12, 18, 28, 0.6);
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__edit-btn {
            height: 35px;
            width: 70px;
            font-size: 20px;
            color: rgba(12, 18, 28, 0.8);
            border: 1px solid lightgray;
            border-radius: 25px;
            text-align: center;
            text-decoration: none;
            line-height: 35px;
          }
        }
        &__info {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          &__address {
            font-family: arial unicode ms;
            font-size: 20px;
          }
          &__phone {
            font-family: arial unicode ms;
            font-size: 30px;
            border: 1px solid lightgray;
            border-radius: 25px;
            padding: 5px 15px;
          }
        }
        &__tags {
          padding: 20px;
          color: orange;
          font-size: 20px;
        }
      }
    }
    &__contents {
      &__map {
        height: 480px;
        border-bottom: 1px solid lightgrey;
        &__ttl {
          font-family: arial unicode ms;
          font-size: 30px;
          font-weight: bold;
          color: rgba(12, 18, 28, 0.6);
        }
        &__field {
          background-color: lightseagreen;
          height: 400px;
          width: 100%;
          margin: 10px auto;
        }
      }
      &__images {
        &__ttl {
          font-family: arial unicode ms;
          font-size: 30px;
          font-weight: bold;
          padding-top: 10px;
          color: rgba(12, 18, 28, 0.6);
        }
        &__field {
          width: 100%;
          height: 440px;
          margin: 10px auto;
          background-color: lightskyblue;
        }
      }
    }
    &__comments {
      height: 100px;
      padding: 10px;
      &__ttl {
        font-family: arial unicode ms;
        font-size: 30px;
        font-weight: bold;
        color: rgba(12, 18, 28, 0.6);
      }
    }
  }
}