.user-section {
  width: 800px;
  margin: 50px auto;
  &__title {
    font-size: 40px;
    font-weight: bold;
    color: rgba(12, 18, 28, 0.6);
    text-align: center;
  }
  .user {
    height: auto;
    width: 100%;
    text-align: center;
    &__nickname {
      font-weight: bold;
      color: rgba(12, 18, 28, 0.6);
      font-size: 30px;
      margin: 50px;
    }
    &__favolites {
      font-size: 20px;
      width: 80%;
      margin: 0 auto;
      &__ttl {
        height: 40px;
        line-height: 40px;
        background-color: lightgray;
        font-weight: bold;
        color: rgba(12, 18, 28, 0.6);
      }
      &__lists {
        &__list {
          padding: 10px 30px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid lightgray;
          .shop-name {
            text-decoration: none;
          }
        }
      }
    }
    &__edit-btn {
      width: 100px;
      margin: 70px auto;
      font-weight: bold;
      font-size: 20px;
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 5px;
      cursor: pointer;
      a {
        color: rgba(12, 18, 28, 0.6);
        text-decoration: none;
      }
    }
  }
}